.contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

header .text {
  font-size: 2em;
}

section {
  margin: 50px 100px;
}

