.body-page1 {
  background-color: #FFD100;
}
.btn-admin {
  display: flex;
  justify-content: flex-end;
}
.btn-visitors {
  display: flex;
  justify-content: flex-start;
}
/**********dashboard***********/
.dash-navbar img {
  width: 60px;
}
tbody img {
  width: 30px;
}