<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Admin-dashboard</title>
</head>
<body>
  <nav class="dash-navbar">
      <div class="nav-wrapper amber accent-3">
        <a href="#!" class="brand-logo"><img src="../assets/img/logo.png" alt=""></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html"><i class="material-icons left">settings</i>Settings</a></li>
          <li><a href="badges.html"><i class="material-icons right">person_pin</i>Nombre Admin</a></li>
        </ul>
      </div>
    </nav>

    <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Visitante</span>
            <p>Anfitrión <br>
               Motivo de visita
            </p>
            <p>Hora de visita</p>
          </li>
        <li class="collection-item avatar">
          <i class="material-icons circle">folder</i>
          <span class="title">Visitante</span>
          <p>Anfitrión <br>
             Motivo de visita
          </p>
          <p>Hora de visita</p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle green">insert_chart</i>
          <span class="title">Visitante</span>
          <p>Anfitrión <br>
             Motivo de visita
          </p>
          <p>Hora de visita</p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle red">play_arrow</i>
          <span class="title">Visitante</span>
          <p>Anfitrión <br>
             Motivo de visita
          </p>
          <p>Hora de visita</p>
        </li>
      </ul>
  
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>