<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="../css/finish.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title></title>
</head>
<body>
  <div class="contenedor">
    <header>
      <div></div>
      <div class="text">
        <p>Estas listo!</p>
      </div>
      <div>
        <i class="large material-icons">check</i>       
      </div>
    </header>
    <hr>

    <section>
      <div>
        <h3>Bienvenido!</h3>
        <p>Le haremos saber a Patricia Zegarra que estas aqui </p>
      </div>

      <div class="container-visit">
        <div class="photo">
          foto
        </div>

        <div class="infoVisit">
          <h4>Lorena Medrano</h4>
          <p>
            3 de agosto 2018 <span> 1:45 PM</span>
          </p>
        </div>

      </div>
    </section>
  </div>

    
</body>
</html>