<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/formulario.css">
  <title>Document</title>
</head>
<body>
  <div class="contenedor">

    <header class="">
      <div>
        <i class="large material-icons">keyboard_backspace</i>       
      </div>
      <div class="text">
        <p>Complete todos los campos</p>
      </div>
      <div>
        <i class="large material-icons">keyboard_tab</i>
        <!-- <button>HOLAA</button> -->
      </div>
    </header>
     <hr>

     <section>
        <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="names" type="text" class="validate" required
                  pattern="^[a-zA-Z ]*$">
                  <label for="names">Nombres Completos</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate"required
                  pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
                  <label for="email">Correo Electronico</label>
                </div>
              </div>

              <div class="row">
                  <div class="input-field col s12">
                    <input id="company" type="text" class="validate"required
                    pattern="^[a-zA-Z ]*$">
                    <label for="company">Compañia a la pertenece</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="motivoVisit" type="text" class="validate" required
                    pattern="^[a-zA-Z ]*$">
                    <label for="motivoVisit">Motivo de la visita?</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12 m6">
                      <select class="icons">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="" data-icon="../assets/docs/carmen-canales.gif">Carmen Canales</option>
                        <option value="" data-icon="../assets/docs/joseline-contreras.jpg">Joseline Contreras</option>
                        <option value="" data-icon="../assets/docs/lidia-morales.jpg">Lidia Morales</option>
                      </select>
                      <label>Images in select</label>
                    </div> 
                </div>  
                <button id="btnForm" class="btn btn-info btn-block btn-lg">enviar</button>      
            </form>
          </div>
     </section>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="../js/formulario.js"></script>
</body>
</html>